.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wallet-card {
  max-width: 90%;
  height: auto;
  aspect-ratio: 3 / 4;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.wallet-card:hover {
  transform: scale(1.05);
}

.wallet-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.wallet-card p {
  font-size: 16px;
  color: #333;
  padding: 10px;
}

@media (min-width: 600px) {
  .wallet-card {
    width: 300px;
  }
}
button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
